MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=petrol_koi_lalmonirhat
VOTER_HASH_SALT=replace-with-random-secret
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_DISTRICT=Lalmonirhat
DAILY_STATION_ADD_LIMIT=40
ADMIN_TOKEN=replace-with-random-admin-token
